* {
    box-sizing: border-box;
}

html { background-color: #000; } 
body {
    min-height: 100vh;
    max-width: 100%;
    background-color: rgba(255, 232, 195, 0.9); 
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.main-container {
    /* background-color: rgb(69, 69, 100); */
    max-width: 90%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 15px;
    border: 0;
    opacity: .9;
    /* z-index: 0; */
    display: flex;
    flex-direction: column;
}

.hero-title-container {
    /* background-color: rgb(59, 61, 161); */
    flex: 1;
    /* width: 100%;
    height: auto; */
    /* max-height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0 auto;
    padding: 0;
    font-size: 40px;
    letter-spacing: .1em;
}

.btn {
    border-radius: 10px;
    padding: 7px;
    margin: 0;
    border: none;
    width: auto;
    /* width: 42px; */
    text-align: center;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.btn:hover {
    opacity: .9;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
}

.selection-container {
    /* z-index: 1; */
    /* width: 100%;
    height: 150px;
    max-height: 200px; */
    flex: 1;
    background-color: indianred;
    border-radius: 30px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    margin-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
}

.slider-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0px 7px;
}

.slider {
    color: black;
}

.slider ::after {
    content: "64";
    
}

.grid-txt-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-txt {
    margin: 0;
    padding: 0;
    color: black;
    font-size: 20px;
    font-weight: lighter;
}

.grid-container {
    /* height: 500px;
    width: 500px; */
    /* width: 100%;
    height: 100%; */

    /* background-color: black; */
    margin-top: 15px;
    padding: 0;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    
    flex: 2;
}

.grid {
    background-color: rgb(235, 235, 235);
    width: 500px;
    height: 500px;
    /* height: auto; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    align-content: flex-start;
    margin: 15px;
    padding: 0;
    line-height: 0;
    /* box-shadow: inset; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    /* border-radius: 20px; */
}

.boxes {
    border: 1px solid black;
    /* background-color: rgb(228, 228, 172) ; */
    background-color: white;
    /* width: 10px;
    height: 10px; */
    padding: 0;
    margin: 0;
    
}